<div class="drag">
    <div class="list">
        <label class="list-header">Open</label>
        <ul dnd-list="vm.model.open"
            dnd-inserted="vm.updateTaskStatus(item, 'open')">
            <li ng-repeat="item in vm.model.open"
                dnd-draggable="item"
                dnd-moved="vm.model.open.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="vm.model.selected"
                ng-class="{'selected': vm.model.selected === item}">
                <task task="item"></task>
            </li>
        </ul>
    </div>
    <div class="list">
        <label class="list-header">Progress</label>
        <ul dnd-list="vm.model.progress"
               dnd-inserted="vm.updateTaskStatus(item, 'progress')">
            <li ng-repeat="item in vm.model.progress"
                dnd-draggable="item"
                dnd-moved="vm.model.progress.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="vm.model.selected"
                ng-class="{'selected': vm.model.selected === item}">
                <task task="item"></task>
            </li>
        </ul>
    </div>
    <div class="list">
        <label class="list-header">Blocked</label>
        <ul dnd-list="vm.model.blocked"
            dnd-inserted="vm.updateTaskStatus(item, 'blocked')">
            <li ng-repeat="item in vm.model.blocked"
                dnd-draggable="item"
                dnd-moved="vm.model.blocked.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="vm.model.selected"
                ng-class="{'selected': vm.model.selected === item}">
                <task task="item"></task>
            </li>
        </ul>
    </div>
    <div class="list">
        <label class="list-header">Done</label>
        <ul dnd-list="vm.model.done"
            dnd-inserted="vm.updateTaskStatus(item, 'done')">
            <li ng-repeat="item in vm.model.done"
                dnd-draggable="item"
                dnd-moved="vm.model.done.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="vm.model.selected"
                ng-class="{'selected': vm.model.selected === item}">
                <task task="item"></task>
            </li>
        </ul>
    </div>

    <label>Description</label>
    <input ng-model="vm.newItem.description" type="text" />
    <label>Summary</label>
    <input ng-model="vm.newItem.summary" type="text" />
    <button ng-click="vm.addItem(vm.newItem)">Add New Item</button>

</div>